<div class="product-add-card">
    <h1 style="margin: 20px;">Add product</h1>
    <div class="form-group">
        <label>Name</label>
        <input class="form-control" name="title" [(ngModel)]="name" />
    </div>
    <div class="form-group">
        <label>Price</label>
        <input type="number" class="form-control" name="price" [(ngModel)]="price" />
    </div>
    <div class="form-group">
        <button class="btn btn-success" (click)="addProduct()">Add</button>
    </div>
</div>
<div >
<h1 style="text-align: center">Products list</h1>
    <section class="product-list">
         <table class="table">
            <tr class="row">
                <th class="col">Name</th>
                <th class="col">Price</th>
                 <th class="col"></th>
            </tr>
            <app-product *ngFor='let item of products'

                         [product]='item'

                         (eventProduct)='loadProducts()'>
            </app-product>
        </table>
    </section>
</div>